@media screen and (min-width: 500px) {
  .front {
    max-width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 1s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 1s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 1s transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 1s transform cubic-bezier(0.6, -0.28, 0.735, 0.045), 1s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .front__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .front__name {
    color: white;
    font-size: 5em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .front svg {
    fill: #ffd900;
    margin-right: .5rem;
  }
  .front__enter__button {
    position: absolute;
    background-color: #ffd900;
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    border-radius: 2rem;
    bottom: 8rem;
    right: 3rem;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
  }
  .front__enter__button svg {
    fill: white;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .front__enter__button:hover {
    background-color: transparent;
    color: #ffd900;
    border: 1px white solid;
  }
  .front__enter__button:hover svg {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .foot {
    position: absolute;
    color: white;
    bottom: .5rem;
    margin-left: .5rem;
  }
  .dashbord {
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #010301;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 100vh;
    -webkit-transition: 1s -webkit-transform ease-in-out;
    transition: 1s -webkit-transform ease-in-out;
    transition: 1s transform ease-in-out;
    transition: 1s transform ease-in-out, 1s -webkit-transform ease-in-out;
  }
  .dashbord__title {
    color: white;
  }
  .dashbord__search {
    margin-top: 1rem;
  }
  .dashbord__search input {
    width: 30rem;
    height: 3rem;
    background-color: rgba(255, 217, 0, 0.4);
    border: none;
    border-radius: 1rem;
    padding-left: .7rem;
    font-size: 1.7em;
    color: white;
    outline: none;
  }
  .dashbord__search input::-webkit-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input:-ms-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input::-ms-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input::placeholder {
    opacity: .5;
  }
  .dashbord__date {
    margin-top: 1rem;
    color: white;
    opacity: 1;
  }
  .dashbord .bi-plus-circle-fill {
    position: fixed;
    top: 20rem;
    fill: #ffd900;
    cursor: pointer;
  }
  .dashbord .bi-plus-circle-fill:hover {
    opacity: .8;
  }
  .dashbord__notes__state {
    margin-top: 3rem;
  }
  .dashbord__notes {
    border-top: 0.5px solid rgba(255, 255, 255, 0.335);
    width: inherit;
    margin-top: 1rem;
    opacity: 1;
  }
  .dashbord__notes__note {
    opacity: 1;
    width: 80%;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  .dashbord__notes__note .bi-trash-fill {
    fill: #ee5253;
    margin-left: 5rem;
    visibility: hidden;
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .dashbord__notes__note .bi-pencil-fill, .dashbord__notes__note .fa-eye {
    fill: #5f27cd;
    height: 1.4rem;
    margin-left: 1rem;
    visibility: hidden;
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .dashbord__notes__note .fa-eye {
    color: #ff9f43;
  }
  .dashbord__notes__note .fa-eye:hover {
    color: white;
  }
  .dashbord__notes__note .bi-pencil-fill:hover, .dashbord__notes__note .bi-trash-fill:hover {
    fill: white;
  }
  .dashbord__notes__note__titles__name {
    color: white;
  }
  .dashbord__notes__note__titles__date {
    color: rgba(255, 255, 255, 0.794);
  }
  .dashbord__notes__note .content {
    display: none;
  }
  .dashbord__notes__note:hover .bi-trash-fill, .dashbord__notes__note:hover .bi-pencil-fill, .dashbord__notes__note:hover .fa-eye {
    margin-left: 1.5rem;
    visibility: visible;
  }
  .dashbord__view {
    margin: 0;
    position: absolute;
    width: inherit;
    min-height: inherit;
    background-color: rgba(255, 255, 255, 0.438);
    z-index: 200;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    display: none;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  .dashbord__view__infos {
    max-width: inherit;
    max-height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashbord__view__infos .heads, .dashbord__view__infos p {
    padding: 1rem 2rem 1rem 1rem;
  }
  .dashbord__view__infos .heads {
    background-color: rgba(255, 255, 255, 0.404);
  }
  .dashbord__view__infos .heads .date {
    color: white;
    opacity: .6;
  }
  .dashbord__view__infos p {
    max-width: 100%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    word-break: break-all;
    overflow-y: scroll;
    line-height: 2em;
    font-weight: 700;
  }
  .dashbord__view__infos .close {
    position: absolute;
    border: none;
    padding: 1rem 1.5rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.698);
    right: 2rem;
    top: 2rem;
    border-radius: 2rem;
    font-weight: 500;
  }
  .dashbord__view__infos .close:hover {
    background-color: rgba(0, 0, 0, 0.698);
    color: white;
  }
  .textEditor {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 1rem;
    padding-left: 3rem;
    -webkit-transition: 1s -webkit-transform ease-in-out;
    transition: 1s -webkit-transform ease-in-out;
    transition: 1s transform ease-in-out;
    transition: 1s transform ease-in-out, 1s -webkit-transform ease-in-out;
  }
  .textEditor__textarea {
    overflow: scroll;
    width: 78%;
    height: 75vh;
    padding: .5rem .5rem .5rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.246);
    outline-color: #ffd900;
    resize: none;
  }
  .textEditor__textarea::-webkit-input-placeholder {
    opacity: .4;
  }
  .textEditor__textarea:-ms-input-placeholder {
    opacity: .4;
  }
  .textEditor__textarea::-ms-input-placeholder {
    opacity: .4;
  }
  .textEditor__textarea::placeholder {
    opacity: .4;
  }
  .textEditor__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .textEditor__title h3 {
    margin-right: 1rem;
    opacity: .8;
  }
  .textEditor__title input {
    width: 15rem;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.424);
    outline: none;
  }
  .textEditor__tools {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .textEditor__tools__bold, .textEditor__tools__italic, .textEditor__tools__underline {
    background-color: transparent;
    border: none;
    margin-right: 2rem;
  }
  .textEditor__tools__color__one, .textEditor__tools__color__two, .textEditor__tools__color__three {
    border-radius: 50%;
    height: 2rem;
    width: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .textEditor__tools__color__one {
    background-color: #ee5253;
  }
  .textEditor__tools__color__two {
    background-color: #5f27cd;
  }
  .textEditor__tools__color__three {
    background-color: #ff9f43;
  }
  .textEditor__save {
    margin-left: 10rem;
    padding: .5rem 2.5rem .5rem 2.5rem;
    background-color: #ffd900;
    color: white;
    border: none;
    font-size: 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-weight: 700;
    position: absolute;
    right: 14.5rem;
    top: 3rem;
  }
  .textEditor__save:hover {
    background-color: transparent;
    color: black;
    border: 0.5px solid #ffd900;
  }
  .textEditor__loader {
    visibility: hidden;
    display: inline-block;
    position: relative;
    bottom: 32.5rem;
    left: 53.5rem;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .textEditor__loader div {
    position: absolute;
    border: 4px solid coral;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .textEditor__loader div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  .textEditor__error {
    visibility: hidden;
    color: white;
    background-color: #ff3333;
    max-width: 100%;
    height: 3rem;
    padding: 2px 3px 2px 3px;
    border-radius: 8px;
    position: relative;
    bottom: 25rem;
    left: 25rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .textEditor__error strong {
    margin-left: 2rem;
    color: black;
    cursor: pointer;
  }
  .textEditor__error strong:hover {
    color: rgba(0, 0, 0, 0.356);
  }
}

@media screen and (max-width: 500px) {
  .front {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .front__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .front__name {
    color: white;
    font-size: 2.5em;
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .front svg {
    fill: #ffd900;
    margin-right: .5rem;
  }
  .front__enter__button {
    margin-top: 2rem;
    background-color: #ffd900;
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    border-radius: 2rem;
    bottom: 8rem;
    right: 3rem;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
  }
  .front__enter__button svg {
    fill: white;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .front__enter__button:hover {
    background-color: transparent;
    color: #ffd900;
    border: 1px white solid;
  }
  .front__enter__button:hover svg {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .foot {
    position: absolute;
    color: white;
    bottom: .5rem;
    margin-left: .5rem;
  }
  .dashbord {
    background-color: #010301;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  .dashbord__title {
    color: white;
  }
  .dashbord__search {
    margin-top: 1rem;
  }
  .dashbord__search input {
    width: 20rem;
    height: 3rem;
    background-color: rgba(255, 217, 0, 0.4);
    border: none;
    border-radius: 1rem;
    padding-left: .7rem;
    font-size: 1.7em;
    color: white;
    outline: none;
  }
  .dashbord__search input::-webkit-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input:-ms-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input::-ms-input-placeholder {
    opacity: .5;
  }
  .dashbord__search input::placeholder {
    opacity: .5;
  }
  .dashbord__date {
    margin-top: 1rem;
    color: white;
    opacity: 1;
  }
  .dashbord svg {
    position: fixed;
    top: 20rem;
    fill: #ffd900;
    cursor: pointer;
  }
  .dashbord svg:hover {
    opacity: .8;
  }
  .dashbord__notes__state {
    margin-top: 3rem;
  }
  .textEditor {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 1rem;
    padding-left: .5rem;
  }
  .textEditor textarea {
    max-width: 90%;
    overflow: scroll;
    padding: .5rem .5rem .5rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.246);
    outline-color: #ffd900;
    resize: none;
  }
  .textEditor textarea::-webkit-input-placeholder {
    opacity: .4;
  }
  .textEditor textarea:-ms-input-placeholder {
    opacity: .4;
  }
  .textEditor textarea::-ms-input-placeholder {
    opacity: .4;
  }
  .textEditor textarea::placeholder {
    opacity: .4;
  }
  .textEditor__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .textEditor__title h3 {
    margin-right: 1rem;
    opacity: .8;
  }
  .textEditor__title input {
    width: 15rem;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.424);
    outline: none;
  }
  .textEditor__tools {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .textEditor__tools button {
    background-color: transparent;
    border: none;
    margin-right: 2rem;
  }
  .textEditor__tools__color__one, .textEditor__tools__color__two, .textEditor__tools__color__three {
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
    margin-left: 2rem;
    cursor: pointer;
  }
  .textEditor__tools__color__one {
    background-color: #ee5253;
  }
  .textEditor__tools__color__two {
    background-color: #5f27cd;
  }
  .textEditor__tools__color__three {
    background-color: #ff9f43;
  }
  .textEditor__save {
    margin-left: 10rem;
    padding: .5rem 2.5rem .5rem 2.5rem;
    background-color: #ffd900;
    color: white;
    border: none;
    font-size: 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-weight: 700;
    position: absolute;
    right: 14.5rem;
    top: 118rem;
  }
  .textEditor__save:hover {
    background-color: transparent;
    color: black;
    border: 0.5px solid #ffd900;
  }
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../assets/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.--inactive {
  display: none;
}

.--slideLeft {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.--slideRigth {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.--active {
  -webkit-animation-name: myAnimation;
          animation-name: myAnimation;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes myAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes myAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.--inableTool {
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.--showLoder {
  visibility: visible;
}

.--showError {
  -webkit-animation: error;
          animation: error;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes error {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.--showNoteContent {
  display: block;
}
/*# sourceMappingURL=main.css.map */